.gridItem {
	display: flex;
	flex-flow: column nowrap;

	min-height: 400px;
	padding: 30px;

	font-family: 'SemiBold';
	font-size: 17px;

	background: var(--white-color);
	border-radius: 30px;
	box-shadow: var(--shadow);
}

.imageWrapper {
	display: flex;
	flex: 1 0 auto;
}

.gridItem img {
	max-width: 250px;
	min-width: 100px;
	margin: auto auto;
}

.price {
	display: flex;
	align-items: center;
	color: var(--gray-color);
}

.oldPrice {
	position: absolute;
	top: 20px;
	right: 0;
	font-size: 0.8em;
	color: var(--second-active-color);
}

.buyButton {
	background: transparent;
	border: none;
	font: inherit;
	cursor: pointer;
}

.gridItem > *:last-child {
	margin-top: 25px;
}

.price > *:last-child {
	margin-left: 10px;
}
