@font-face {
	font-family: 'Bold';
	src: url('resources/fonts/Montserrat-Bold.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: fallback;
}

@font-face {
	font-family: 'Regular';
	src: url('resources/fonts/Montserrat-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: fallback;
}

@font-face {
	font-family: 'SemiBold';
	src: url('resources/fonts/Montserrat-SemiBold.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: fallback;
}

@font-face {
	font-family: 'Medium';
	src: url('resources/fonts/Montserrat-Medium.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: fallback;
}
